// Standard colors
$blue: #00f;
$gray: #ccc;
$red: #f00;
$green: #08a708;

// Custom colors

$blanco: #fff;
$gris1: #edf2f6;
$gris2: #282d32;
$gris3: #1a202d;
$disabled: #b6b2b2;
$negro: #000;
$selected: #0056b3;
$background: #dedede;

// Shadows

$itemShadow: 0 6px 10px 0 rgb(0 0 0 / 15%)
